
h1{
  text-align: center;
}

.show-variables {
  width: 600px;
}

.goals-variables {
    padding-left: 10px;
    text-align: start;
}

.input-form {
  margin-top: 20px;
}

.table_row {
  text-align: center;
}

.table_cell {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  align-self: center;
}
