<div class="main-content md-block" layout="column" layout-fill>
  <h1>Thêm xóa sửa mục tiêu môn học</h1><br />
  <md-content class="md-block" flex="100">
    <div class="layout" layout-align="center center" layout="column">
      <div flex><h2>Danh sach muc tieu mon hoc</h2></div>
    </div>
    <md-autocomplete
      ng-disabled="false"
      md-no-cache="syl.noCache"
      md-selected-item="syl.selectedItem"
      md-search-text-change="syl.searchTextChange(ctrl.searchText)"
      md-search-text="syl.searchText"
      md-selected-item-change="syl.selectedItemChange(item)"
      md-items="item in syl.querySearch(goals.searchText)"
      md-item-text="item.display"
      md-min-length="0"
      placeholder="Tìm kiếm theo tên môn học?">
      <md-item-template>
        <span md-highlight-text="syl.searchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
        Không tìm thấy dữ liệu "{{syl.searchText}}" .
        <!--<a ng-click="goals.newState(goals.searchText)">Create a new one!</a>-->
      </md-not-found>
    </md-autocomplete>
    <br>
    <div class="table_row" layout="row" flex>
      <div flex="10" class="table_cell">
        ID
      </div>
      <div flex="10" class="table_cell">
        Parrent ID
      </div>
      <div class="table_cell" flex> Content</div>
      <div class="table_cell">
        Operations
      </div>
    </div>
    <div class="table_row" layout="row" flex ng-repeat="g in syl.syllabuses | orderBy:'_id'">
      <div flex="10" class="table_cell">
        {{g["_id"]}}
      </div>
      <div flex="10" class="table_cell">
        {{g._source.parent}}
      </div>
      <div class="table_cell" flex> {{ g._source.content }}</div>
      <div class="table_cell">
        <md-button aria-label="btn" ng-click="goals.showDialog(g ,$event)" class="md-icon-button">
          <md-icon md-svg-icon="../../assets/ic_edit_black_24px.svg"></md-icon>
        </md-button>
        <md-button aria-label="btn2" ng-click="goals.deleteGoals(g._id, $event)" class="md-icon-button">
          <md-icon md-svg-icon="../../assets/ic_delete_black_24px.svg"></md-icon>
        </md-button>
      </div>
    </div>
    <div flex layout-align="center center" layout="row">
      <md-button ng-click="syl.showDialog(undefined ,$event)"  class="md-fab" aria-label="Add">
        <md-icon md-svg-src="../../assets/ic_add_black_24px.svg"></md-icon>
      </md-button>

      <md-button ng-click="syl.refresh()"  class="md-fab md-primary" aria-label="Add">
        <md-icon md-svg-src="../../assets/ic_refresh_black_24px.svg"></md-icon>
      </md-button>
    </div>

  </md-content>


</div>
